*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --color-primary: #F1FAEE;
    --color-secondary: #1E1A1D;
    --color-danger: #E63946;
    --color-warning: orange;
    --color-success: #28D501;
    --color-bg1: #A8DADC;
    --color-bg2: #457B9D;
    --color-bg3: #1D3557;
    --color-body-background: #1B2845;

    --cont-sz-lg: 85%;
    --cont-sz-md: 90%;
    --cont-sz-sm:93%
}

body{
    background: var(--color-body-background);
    color: var(--color-primary);
    width: 100%;
}

.body-container{
    width: inherit;
}
nav{
    background: var(--color-bg1);
}
header{
    font: 1em;
    background: var(--color-bg3);
    color: var(--color-primary);
    height: 6rem;
    width: inherit;
}
header div.header-container{
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
header div.header-container h1{
    margin: 0;
}
h1{
    margin-bottom: 1em;
}


main{
    height: 300px;
}

