form{
    text-align: center;
    height: inherit;
    background: var(--color-bg2);
}
form input[type="text"]{
    margin: 0 auto;
    display: block;
}

form input[type="submit"]{
    margin-top: 2em;
}