nav{
    height: 3rem;
}
.nav-container{
    height: inherit;
    width: var(--cont-sz-lg);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container h4{
    font-size: 1.5rem;
}

.nav-container a{
    color: var(--color-secondary);
}
.nav-container a:hover,.nav-container a:focus{
    border-bottom: 3px solid var(--color-secondary);
}


.nav-container ul.nav-menu{
    display: flex;
    gap: 1em;
    font-size: 1.1rem;
}


.nav-container ul.nav-menu a{
    
}
